<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestReport.Properties.Settings.iAssureDev" connectionString="Data Source=192.169.0.200;Initial Catalog=iAssure_Dev;User ID=sa;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>